<!DOCTYPE html>
<html>
<head>
	<title>NFL</title>
</head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<style type="text/css">
    h1 {
        text-align: center;
        font-size: 3rem;
    }
    h4 {
        margin:auto;
        text-align: center;
        width: 60%;

    }
    #buttons{
        margin:auto;
        width: 45%;
    }
</style>
<body>
    <h1>Offensive Explosion</h1>
    <h4>
        Offensive Football Football stuff. Quarterback, Running Back, nickel dime SHIT. THIS IS IMPORTANT. LOVE IS FOOTBALL WE ARE FOOTBALL. STATEMENT ABOUT THE WEBSITE BRAH
    </h4>
    <div id="buttons">
        <!-- top 20 passing -->
        <a href="/toppassers"><button>Passing</button></a>
        <!-- last 7 seasons pie charts -->
        <a href="/rushvspass"><button>Rush vs Pass</button></a>


        
        <a href="/yardagevstds"><button>Yardage vs Tds</button></a>
        <a href="/stuff"><button>STUFF</button></a>
        <a href="/stuffy"><button>wowzer</button></a>
        
    </div>

</body>
</html>
