<!DOCTYPE html>
<html ng-app = "app">
<head>
	<title>NFL</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
<script src="../static/bower_components/angular/angular.min.js"></script>
<script src="../static/bower_components/angular-route/angular-route.min.js"></script>
<script src="../static/bower_components/angular-material/angular-material.min.js"></script>
<link rel="stylesheet" href="../static/bower_components/angular-material/angular-material.min.css"></link>
<script src="../static/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../static/bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../static/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../static/client/app.js"></script>
<script src="../static/client/assets/controllers/homeController.js"></script>



<style type="text/css">
    h1 {
        text-align: center;
        font-size: 3rem;
    }
    h4 {
        margin:auto;
        text-align: center;
        width: 60%;

    }
    #buttons{
        margin:auto;
        width: 45%;
    }
    .toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; 
}
</style>
</head>

<body>
<div ng-cloak>
  <md-content>
    <br>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
        </md-button>
        <h2>
          <span>Toolbar with Disabled/Enabled Icon Buttons</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
        </md-button>
      </div>
    </md-toolbar>
    <br>
  </md-content>
<div ng-view = ""></div>
</body>
</html>
